.Header-background {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .Header-background {
    padding: 100px 50px 50px;
  }
}
.Header-wrapper {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .Header-wrapper {
    width: 80%;
  }
}
.Header-Benefit-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
}
.Header-Benefit {
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  text-align: left;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .Header-Benefit {
    width: 32%;
  }
}
.Header-Benefit > div {
  height: 100%;
  padding-bottom: 0 !important;
}
.Header-Benefit-item {
  display: flex;
  height: 100%;
  padding: 0 !important;
}
.Header-Benefit-image {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  flex-basis: 30%;
  max-width: 30%;
  padding: 0 0.5rem;
}
.Header-Benefit-image img {
  max-width: 100%;
}
.Header-Benefit-content {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.Header-Benefit-content h3,
.Header-Benefit-content p {
  margin-bottom: 0.8rem;
  margin-top: 0;
  width: 100%;
}
.Header-illustration {
  position: absolute;
  top: 50px;
  z-index: 0;
}
@media screen and (min-width: 992px) {
  .Header-illustration {
    top: 120px;
  }
}
.Header-main {
  margin-bottom: 2em;
}
.textfield {
  display: block !important;
  width: 100% !important;
}
.Login-actions {
  margin-top: 1em;
  text-align: right;
}
.Login-background {
  background-size: cover;
  height: 100vh;
}

.Fab {
  bottom: 2em;
  position: fixed;
  right: 2em;
}
.PlaceH-avatar {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  width: 50%;
}
.PlaceH-avatar img {
  height: auto;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .PlaceH-avatar {
    width: 25%;
  }
}

.fade-scale-enter {
  opacity: 0;
  transform: scale(0);
}
.fade-scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.fade-scale-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-scale-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.left-out-enter {
  opacity: 0;
  transform: translateX(100%);
}
.left-out-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.left-out-exit {
  opacity: 1;
  transform: translateX(100%);
}
.left-out-exit-active {
  opacity: 0;
  transform: translateX(0);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
